{
    "jobs": [
	{
	    "#": "Runs three idle tests serially",

	    "label": "idle",
	    "iterations": 3,
	    "parallel": false,
	    "task": {
		"test": {
		    "type": "idle",
		    "spec": {
			"schema": 1,
			"duration": "PT2S"
		    }
		}
	    }
	},
	
	{
	    "#": "Runs five RTTs in parallel, each with an increasing number of",
	    "#": "packets in the count, as specified by the transform.",

	    "label": "rtt",
	    "iterations": 5,
	    "parallel": true,
	    "backoff": "PT1S",
	    "sync-start": true,
	    "task": {
		"test": {
		    "type": "rtt",
		    "spec": {
			"schema": 1,
			"dest": "www.perfsonar.net"
		    }
		}
	    },
	    "task-transform": {
		"script": [
		    ".test.spec.count = $iteration + 1"
		]
	    }
	},
	
	{
	    "label": "trace",
	    "iterations": 3,
	    "enabled": false,
	    "task": {
		"test": {
		    "type": "trace",
		    "spec": {
			"schema": 1,
			"dest": "www.perfsonar.net"
		    }
		}
	    }
	},

	{
	    "#": "Runs a single idlebgm that will return multiple results.",

	    "label": "idlebgm",
	    "iterations": 1,
	    "parallel": false,
	    "task": {
		"test": {
		    "type": "idlebgm",
		    "spec": {
			"schema": 1,
			"duration": "PT15S",
			"interval": "PT3S"
		    }
		}
	    }
	}
    ]
}
